         <!--section-->
         <div class="container px-0 menu"><br>
               <div class="row g-4">
                   {{#each results}}
                   <div class="col-lg-6">
                            <span class="data">
                            <a class="nav-link" id="/books_api/{{key}}"
                               data-bs-toggle="modal" data-bs-target="#modal2">
                      <div class="d-flex align-items-center">
                            <img class="zoom flex-shrink-0 img-fluid rounded d-none d-sm-block d-sm-none d-md-block" src="{{image}}" alt="" style="width: 400px;">
                      <div class="d-flex flex-column text-start ps-2">
                         <h5 class="d-flex justify-content-between fw-bold">
                            {{title}}
                         </h5>
                         <small class="fst-italic">
                            <p>{{trimString description}}...</p>
                         </small></a>
                         <ul class="list-unstyled list-inline mb-0 border-bottom pb-2">
                            <li class="list-inline-item me-0">
                              <i class="fas fa-star text-warning fa-xs"> </i>
                            </li>
                            <li class="list-inline-item me-0">
                              <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                              <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                              <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                              <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted" id="publish_date">{{publish_date}}</p>
                            </li>
                         </ul>
                      </div>
                      </div>
                   </div>
                   {{/each}}
               </div>
         </div><hr>
         <!-- section -->


<script>

$('.data').on('click', 'a', function() {
    var url = $(this).attr('id');
    var item_id = $('#modal2 a').attr('id');

    if(item_id === 'item_id'){
        $('#item_id').html('Adicionar ao <i class="fa fa-shopping-cart"></i>');
    };

    $.getJSON(url, function(data) {
        $('#author').html(data.author);
        $('#publish_date').html(data.publish_date);
        $('#title').html(data.title);
        $('#description').html(data.description);
        $('.card img').attr('src', data.image);
        $('#modal2 a').attr('href', '/books/' + data.key + '#TOC');

    });

});


</script>
