<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Um site de notícias e informações científicas" />
        <meta name="author" content="AJPN" />

        <!-- CH5M3D -->
        <link rel="stylesheet" type="text/css" href="/css/ch5m3d.css" />
        <script type="text/javascript" src="/js/ch5m3d.js"></script>

        <!-- ChemDoodle -->
        <link rel="stylesheet" href="/css/ChemDoodleWeb.css" type="text/css">
        <script type="text/javascript" src="/js/ChemDoodleWeb.js"></script>
        <!-- PyScript CSS -->
        <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css">

        <!-- This script tag bootstraps PyScript -->
        <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>

        <!-- og properties -->
        <meta property="og:title" content="{{#if title}}{{title}}{{else}}AEN Tecnologia & Informação{{/if}}" />
        <meta property="og:description" content="Notícias e Informações Tecnocientíficas">
        <meta property="og:url" content="https://aentech-1-j8918806.deta.app/" />
        <meta property="og:image" content="https://aentech-1-j8918806.deta.app/img/logomarca.jpg" />
        <meta property="og:type" content="website" />
        <title>{{#if title}}{{title}}{{else}}AEN | Tecnologia & Informação{{/if}}</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/img/logo.png">
        <!-- Styles-->
        <link href="/css/styles.css" rel="stylesheet" />
        <!-- Personalized Styles-->
        <link href="/css/main.css" rel="stylesheet" />
        <!-- Animate-->
        <link rel="stylesheet" href="/css/animate.css" rel="stylesheet" />
        <!-- Tables-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <!-- Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
           <!-- JQuery -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
           #TOC {
           text-align:left;
           }
           #TOC { margin: 5px; padding: 5px; font-size: 18pt}
           .TOCEntry a { text-decoration: none; }
           .TOCLevel1 {display: none}
           .TOCLevel2 { font-size: 12pt; font-weight: bold;
           }
           .TOCLevel3 {font-size: 11pt; margin-left: .3in;
           }
           .TOCLevel4 {font-size: 10pt; margin-left: .5in;
           }
           .TOCSectNum:after { content: " – "; }
           .TOCSectNum { display: none }
            //#loading { outline: none; border: none; background: transparent }
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
        </style>
        <!-- bokeh scripts -->
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.2.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.2.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.2.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.2.2.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>

    </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NCGCXV54CT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NCGCXV54CT');
</script>
    <body>
            <div id="layoutSidenav_content">
                   {{>navbar}}
                   {{#unless results}}{{>header}}{{/unless}}
                <main class="container">
                   {{{ body }}}
                   <!-- Back to Top -->
{{#if results}}
                   <button onclick="topFunction()" id="back-to-top" class="btn btn-lg btn-transparent btn-lg-square"><img src="/img/back-to-top.png" width="40"></button>
{{else}}
                   <a id="back-to-top" class="btn btn-lg btn-transparent btn-lg-square" data-bs-toggle="modal" data-bs-target="#modal3"><img src="/img/back-to-top.png" width="40"></a>
{{/if}}
                </main>
                   {{>footer}}
            </div>


           <!-- Main -->
           <script src="/js/scripts.js"></script>
           <script src="/js/main.js"></script>
           <!-- bootstrap_bundle -->
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
           <script src="/js/bootstrap.bundle.js"></script>

           <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
           <!-- Tables -->
           <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
           <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
           <!-- wow.js -->
           <script src="/js/wow.js"></script>
           <!-- purecounte_vanilla.js -->
           <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
           <script>
              new WOW().init();
              new PureCounter();
           </script>
           <!-- mathjax -->
           <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
           <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
           <script>
               MathJax = {
                  tex: {
                  inlineMath: [['$', '$'], ['\\(', '\\)']],
                  tags: 'ams'
                  },
                  svg: {
                     fontCache: 'global'
                  }
               };
           </script>
           <script>
               // Print CV //
               function printDoc() {
                   document.querySelector("nav").setAttribute("class", "visually-hidden");
                   window.print();
               }
           </script>
    </body>
</html>
