        <main class="flex-shrink-0"
style="background-image: url('/img/banner5.jpg')">
            <!-- Page Content-->
<div hidden id="TOC"><b>Sumário</b></div>
            <section class="py-1">
                <div class="container px-1">
                    {{#each results}}{{#if @first}}
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0"
style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/007.webp')">
                            <div class="row gx-3">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                    <h1 class="fw-bold fs-2 mb-4 text-light px-5">Blog da Empresa</h1>
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                        <div class="h2 fw-bolder text-light">{{title}}</div>
                                        <p class="text-light">Estamos com o site em manutenção e alguns recursos podem estar indisponíveis ou instáveis no momento.</p>
                                        <a class="stretched-link nav-link text-light" href="books/2lq6znbrsnjy">
                                            Mais informação
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>{{/if}}
                    {{/each}}
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-0">
                <div class="container px-1">
                    <!--<h2 class="fw-bolder fs-3 mb-4 text-center text-secondary">News</h2>-->
                    <div class="row gx-1">
                        {{#each results}}
                        <div class="col-lg-4 mb-3">
                            <div class="card h-100">
                                <div class="card-body p-4">
                                    {{!-- for cat in top_cats --}}
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                    {{!-- endfor --}}
                                    <h5 class="card-title mb-3">{{titulo}}</h5>
                                    <p class="card-text mb-0">{{introducao}}</p>
                                        <span class="d-flex justify-content-center">
                                        <a class="text-decoration-none link-dark stretched-link" href="{{link}}" target="_blank">
                                        <button class="btn btn-secondary"><i class="bi bi-eye"></i> Mais informação</button></a>
                                        </span><hr>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://www.clicoeste.com.br/wp-content/uploads/2021/02/IBGE-Foto-Reproducao-Internet-1024x768-1.jpg" width="60" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold text-uppercase">{{editorias}}</div>
                                                <div class="text-muted">{{data_publicacao}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="text-end mb-5 mb-xl-0">
                        <a class="text-decoration-none" href="#!">
                           <ul class="pagination">
                           {{#if previous}}<li class="page-item"><a class="page-link fw-bold" href="/blog?page={{previous.page}}">Anterior</a></li>{{/if}}
                           <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                           {{#if next}}<li class="page-item"><a class="page-link fw-bold" href="/blog?page={{next.page}}">Próxima</a></li>{{/if}}
                           </ul>
                        </a>
                    </div><hr>
                </div>
            </section>
        </main>
