            <!-- Page Content-->
            <!-- Blog preview section-->
            <section class="py-0" style="background-image: url('/img/b3.jpg')">
                <div class="container px-1">
                    <div hidden id="TOC"><b>Sumário</b></div>
                    <img src="/img/aen.jpg" class="img-fluid mx-auto d-block rounded" alt="...">
                    <!--<h2 class="fw-bolder fs-3 mb-4 text-center">Prizes</h2>-->
                    <div class="row gx-3">
                        {{#each results}}
                        <div class="col-lg-4 mb-3">
                            <div class="card shadow border-0">
                                <!--<img class="card-img-top" src="/img/aen.jpg" alt="..." />-->
                                <div class="card-body p-4">
                                    {{!-- for cat in top_cats --}}
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{!--cat[0].title--}}</div>
                                    {{!-- endfor --}}
                                    {{#each laureates}}
                                    <h5 class="card-title mb-3">{{firstname}} {{surname}}</h5>
                                    {{#if @first}}
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        Shared {{share}}
                                    </h6>
                                    <p class="card-text">{{motivation}}</p>
                                    {{/if}}
                                    {{/each}}
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="/img/logo-icon.png" width="50" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold text-uppercase">{{category}}</div>
                                                <div class="text-muted">{{year}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="text-end mb-5 mb-xl-0">
                        <a class="text-decoration-none" href="#!">
                           <ul class="pagination">
                           {{#if previous}}<li class="page-item"><a class="page-link" href="/prizes?page={{previous.page}}">{{#each results}}{{#if @first}}{{year}}{{/if}}{{/each}}</a></li>{{/if}}
                           <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                           {{#if next}}<li class="page-item"><a class="page-link" href="/prizes?page={{next.page}}">Previous</a></li>{{/if}}
                           </ul>
                        </a>
                    </div>
                </div>
                    <h2 class="fw-bold fs-3 mb-4 text-center text-light p-4" style="background-image: url('/img/banner5.jpg')">
                       <a class="nav-link" href="/laureates">Laureates</a></h2>
            </section>
<script>
const search = document.querySelector('#search');

        search.addEventListener('click', event => {
            event.preventDefault();
            const year = document.getElementById('year').value;
            const page = new Date().getFullYear() - parseInt(year);
            console.log(page);
            window.location.href = '/prizes?page=' + page;
        });

</script>
