<section class="bg-light">
<div class="container py-2 text-center wow fadeIn">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 mb-12">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                {{#each this}}{{#if category}}
                <li class="nav-item p-1">
                    <a class="{{category}} nav-link shadow fw-bold"
                      id="pills-profile-tab" data-toggle="pill" href="#{{category}}" role="tab"
                      aria-controls="pills-profile" aria-selected="false">{{replaceString category}}
                    </a>{{/if}}
                {{/each}}
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        {{#each this}}
        <div class="tab-pane fade {{#if @first}}show active{{/if}}" id="{{category}}" role="tabpanel" aria-labelledby="{{#if @first}}pills-home-tab{{else}}pills-profile-tab{{/if}}">
            <div class="row">
                {{#each items}}
                <div class="col-md-3">
                  <div class="card zoom mb-3">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <a href="/book/{{key}}"><img class="img-fluid" src="{{image}}"/></a>
                    </div>
                    <div class="card-body">
                      <p class="card-title fw-bold">{{title}}</p>
                      <p class="card-text" id="name">{{!--content--}}</p>
                    </div>
                  </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
</section>
