<div class="container py-4 text-center wow fadeIn">
    <div class="row justify-content-center">
        <div class="<col-sm-12 col-md-12 mb-12 <!--col-sm-7 col-md-4 mb-5-->">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                {{#each this}}{{#if category}}
                <li class="nav-item p-1">
                    <a class="{{category}} nav-link shadow"
                      id="pills-profile-tab" data-toggle="pill" href="#{{category}}" role="tab"
                      aria-controls="pills-profile" aria-selected="false">{{category}}
                    </a>{{/if}}
                {{/each}}
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        {{#each this}}
        <div class="tab-pane fade {{#if @first}}show active{{/if}}" id="{{category}}" role="tabpanel" aria-labelledby="{{#if @first}}pills-home-tab{{else}}pills-profile-tab{{/if}}">
            <div class="row">
                {{#each value}}{{# if @first}}
                   <div class="col-lg-12 zoom mb-3">
                            <span class="data">
                            <a class="nav-link" href="{{url}}">
                      <div class="d-flex align-items-center rounded p-1 shadow">
                            <img class="flex-shrink-0 img-fluid rounded" src="{{image}}" alt="" style="width: 350px;">
                      <div class="d-flex flex-column text-start ps-2">
                         <h1 class="d-flex justify-content-between fw-bold fs-5">
                            {{name}}
                         </h1>
                         <small class="fst-italic text-black">
                            <p>{{trimString description}}...</p>
                         </small></a>
                      </div>
                      </div>
                   </div>{{/if}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
<script>
window.onload = function() {
  var i = 0;
  var category = ["Geral", "Mineral", "Teórica"];
  setInterval(function() {
    document.querySelector('.' + category[i]).click();
    i++;
    if (i >= category.length) {
        i = 0;
  }
  }, 7000);
};
</script>


