<div hidden id="TOC"><b>Sumário</b></div>
   <section class="py-5">
       <div class="container">
           <div class="row d-md-none"><img class="img-responsive" src="/img/aennews.jpg"></div>
           <div class="row gx-5">
               <div class="col-xl-8">
                   <!--<div class="news mb-3"></div>-->
<h2 class="fw-bolder text-info">Destaques</h2><hr>
                  <div class="row">
{{#each this}}{{#if @first}}
                  {{#each items}}
                   <div class="col-6 mb-5">
                   <div class="zoom card">
                       <div class="card-body">
                          <div class="text-center"><a href="/lessons/{{key}}">
                              <img class="flex-shrink-0 img-fluid rounded" src="{{image}}" alt="{{description}}" width="300"></a>
                              <div class="h6 fw-bolder">{{title}}</div>
                              <p class="text-muted">
                                  {{publish_date}}
                              </p>
                          </div>
                       </div>
                   </div>
                   </div>
                  {{/each}}
{{/if}}{{/each}}
                  </div>


               </div>
               <div class="col-xl-4 mt-5">
                   {{>sidebar}}
               </div>
           </div>
       </div>
   </section>
{{>calltoaction}}

<script>
/* Notícias */
fetch('https://servicodados.ibge.gov.br/api/v3/noticias/?qtd=9').then((response) => {
    response.json().then((data) => {
        if (data.error) {
            console.log(data.error)
        } else {
            data.items.forEach((item) => {

                str = `<div class="small text-muted">${item.data_publicacao}</div>
                          <a class="link-dark" href="${item.link}"><h3>${item.titulo}</h3></a>
                       </div>`

                $('.news').append(str);
            });
        }
    });
});
</script>
	
