<div hidden id="TOC"><b>Sumário</b></div>
      <!--<div class="col-md-12">
	<h1 class="h2 mt-3">Estrutura Atômica e Ligações Químicas</h1><hr>
      </div>-->{{>mission}}
      <div class="col-md-12 py-5">
         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
           {{#each this}}{{#if category}}
	    <div class="panel panel-default rounded">
	       <div class="panel-heading" role="tab" id="headingOne{{category}}">
	          <h4 class="panel-title">
		     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" 
                        href="#collapseOne{{category}}" aria-expanded="true" aria-controls="collapseOne{{category}}">
			<h1 class="h4">{{replaceString category}}</h1>
		     </a>
		  </h4>
	       </div>
	       <div id="collapseOne{{category}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne{{category}}">
	          <div class="panel-body p-3">
                  <div class="row">
                  {{#each items}}
                   <div class="col">
                   <div class="zoom card">
                       <div class="card-body">
                          <div class="text-center"><a href="/research/{{key}}">
                              <img class="flex-shrink-0 img-fluid rounded" src="{{image}}" alt=""></a>
                              <div class="h6 fw-bolder">{{title}}</div>
                              <p class="text-muted mb-4">
                                  {{publish_date}}
                                  <br />
                              </p>
                          </div>
                       </div>
                   </div>
                   </div>
                  {{/each}}
                  </div>
                  </div>
	       </div>
	    </div>{{/if}}
           {{/each}}
         </div>
      </div>
{{>calltoaction}}
